*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;

}


#nav {
    position: fixed;
    z-index: 99;
    padding: 0 40px;
    height: 100px;
    background-color:transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-1{
   /* background-color: yellow; */
    
    width: 50px;

}

#nav-1 .line{
    height: 3px;
    width: 100%;
    background-color:black;
    margin-bottom: 4px;
}


#page1 {
    padding: 0.1px 0.1;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;
}

#nav svg{
    opacity: 1;
   
    z-index: 9999;
    scale:0.20;
    position: absolute;
    top: -5%;
    fill: rgb(67, 75, 52);



}
#page1 img{
    height: 100%;
    width: 100%;
    
    position: absolute;
    object-fit: cover;
    /* top: 18%; */
    object-position: center;
    /* z-index: 999; */
}
#nav-2 button {
    padding: 10px 20px;
    text-transform: capitalize;
    border-radius: 50px;
    color: rgb(67, 75, 52);
    background-color: transparent;
    font-size: 15px;
border: 1px solid rgb(118, 128, 101);
}
#nav-2 button:nth-last-child(1){
    background-color: rgb(67, 75, 52);
    color: white;
}
#page2 {
    
    min-height: 170vh;
    /* width: 100%; */
    position: relative;
background-color: #5B6647;
}

#page2 #svg1{
 
   
    width: 100%;
    object-fit: cover;  
    /* object-position: center; */
    position: absolute;

}
#page2 #textcontainer{
    position: relative;
    padding-top: 9vw;
    z-index: 9;
}
#page3 #textcontainerr{
    position: relative;
    padding-top: 2vw;
    z-index: 9;
}
#page3 #textt{
    position: relative;
    padding-top: 9vw;
    z-index: 9;
    margin-left: 5%;
}
#page7 #textt{
    position: relative;
    padding-top: 5vw;
    z-index: 9;
    margin-left: 5%;
}
#page7 {
min-height: 100vh;
width: 100vw;
color: white;
}
#page2 #textcontainer h2{
    font-size: 5vw;
 text-align: center;
    font-weight: 100;
    font-family: PP woodland;
    color: #434B34;

}
#page3 #textcontainerr h2{
    font-size: 5vw;
 text-align: center;
 
    font-weight: 100;
    font-family: PP woodland;
    color: #E3E3C4;
    

}
#page7 #texttt h2{
    font-size: 5.5vw;
 text-align: center;
 
    font-weight: 100;
    font-family: PP woodland;
    color: #E3E3C4;
    

}
#page3 #textt p{
    font-size: 1.5vw;
 text-align: left;
 width: 40%;
    font-weight: 100;
    font-family:gilroy;
    color:#434b34;

    

}
#page3 img{
    height: 44%;
    margin-top: 5%;
    /* width: 20%; */
    margin-left: 48%;
    border-radius: 20px;
}
#page3 #img2{
    height: 26.3%;
    position: absolute;
    /* width: 20%; */
    top: 61%;
    left:-41%;
    border-radius: 20px;
}
#page3 #img3{
    height: 30%;
    /* width: 20%; */
    margin-top: 4%;
    margin-left: 48%;
    border-radius: 20px;
}
#textcontainerr h2 span{
    font-family: PP woodland;
}
#textcontainer h2 span{
    font-family: PP woodland;
}

#page2 #svg2{
    position: absolute;
    bottom: -10%;
    width: 300vw;
    fill: #5B6647;
    z-index: 999;
}
#page2 #svg3{
    position: absolute;
    bottom: -10%;
    left: -50vw;
    width: 300vw;
    fill: #E3E3C4;
}
#page3{
    height: 200vh;
    padding: 19vw 3vw;
    position: relative;
    width: 100%;
    background-color: white;
}
#page4{
    min-height: 100vh;
    padding: 13vw 5vw;
    width: 100vw;
    background: color #f7f7f7;;

}
#page4 .elem{
    height: 200px;
    width: 100%;
    border: 1px solid black;
    border-top: none;

    /* background-color:red; */
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    overflow: hidden;
    
}


#page3 .elem:nth-child(1) {
    border-top: 1px solid #5B6647;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#page3 .elem:nth-last-child(1) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.elem-part1 {
    height: 100%;
    width: 22%;

    position: absolute;
    transition: all ease-out 0.4s;
    left: 0;
    transform: translateX(-100%);
}

.elem-part1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem-part2 {
    height: 100%;
    width: 100%;
    transition: all ease-out 0.4s;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434B34;
    padding: 2.6vw 4vw;
}
.elex-1 h3{
    margin-bottom: 1vw;
    font-family: pp woodland;
    font-size: 2.4vw;
    font-weight: 100;
}
.elex-1 p{
    font-size: 0.8vw;
}
.elex-2 h5{
    background-color: #5B6647;
    color: #E3E3C4;
    padding: 4px 18px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9vw;
    transition: all ease-out 0.4s;
    position: relative;
    overflow: hidden;
}
.elex-2 h5 i{
    position: absolute;
    background-color: #E3E3C4;
    color: #5B6647;
    padding:5px 18px;
    left: 0;
    opacity: 0;
    top: 0;
}
.elem:hover .elem-part2 {
    width: 78%;
    background-color: #5B6647;
    color: #E3E3C4;
}

.elem:hover .elem-part1 {
    transform: translateX(0);
}

.elem:hover .elex-2 h5{
    background-color: #E3E3C4;
    color: #5B6647;
}

.elem:hover .elex-2 h5 i{
    opacity: 1;
}


#page5{
    height: 100vh;
    width: 100%;
    background-color: burlywood;
  }
  
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide:nth-last-child(1){
    width: 20%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.6) translateX(-40%) translateY(34%);
    border-radius: 20px;
  
  }
  
  .swiper-slide {
    width: 80%;
    padding: 60px;
  }
  
  .swiper-slide-active img{
    transform: scale(1) translateX(0%) translateY(0%);
  
  }
  
  
  .swiper-button-next{
    color: #fff;
    background-color: #434b34;
    padding: 5px 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    right: 5%;
  }
  .swiper-button-prev{
    color: #fff;
    background-color: #434b34;
    padding: 5px 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 80%;
  }
  
  .swiper-button-next::after{
    content: "";
  }
  .swiper-button-prev::after{
    content: "";
  }
  #page6{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;}
    
#page6-left{
    height: 100%;
    border-radius: 20px;
    width: 40%;
    background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/230/ALH_Odisej_outsidepool_01-scaled-600x0.jpg);
    background-size: cover;
    background-position: center;
    transform: translateX(-8%);

}
#page6-right{
    border-radius: 20px;
    background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/388/alh-img-2-480x0.jpeg);
    height: 100%;
    width: 40%;
    transform: translateX(8%);
    background-size: cover;
    background-position: center;
   
}
#page6-center{
    height: 100%;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    padding: 5vw 8vw;
}
#page6-center h1{
    font-family: pp woodland;
    font-size: 5vw;
    line-height: 5vw;
    color: #5b6647;
    font-weight: 100;
    margin-bottom: 4vw;
}
#page6-center p{
    font-size: 1.3vw;
    color: #676767;
    font-weight: 500;
    margin-bottom: 4vw;
}
.swiper-pagination{
    top:7.5%;
    left: 85%;
    font-size: 14px;
    color: #5b6647;
    font-weight: 600;
    height: 3%;
    width: 5%;
}